<div class="row">
    <div class="col-xs-10">
        <!-- Here is where we can add a new ingredient! -->
        <!-- Remember now that we have it passing thru we can use/implement it in the other component -->
        <app-shopping-edit
            
        > 
        </app-shopping-edit>
        <!-- (ingredientAdded)="onIngredientAdded($event)" -->
        <hr>
        <ul class="list-group">
            <!-- 
                we got rid of the href element 
                will later use this like a button would lead to unwanted behaviors 
            -->
            <a  
                class="list-group-item" 
                style="cursor: pointer;"
                *ngFor="let ingredient of ingredients"
            >{{ ingredient.name }}  ({{ ingredient.amount }})
        </a>
        </ul>
    </div>
</div>


