<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">
            New Recipe
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- NOTE: the <a> tag was moved to recipe-item HTML file -->  
        <!-- Using the tag below to do the work now -->
        <!-- See how both components have variables to recieve and send data to each other -->
        <app-recipe-item
          *ngFor= "let recipeEl of recipes; let i = index"
          [recipe]="recipeEl"
          [index]="i"
        >
        </app-recipe-item> 
        <!-- (recipeSelected)="onRecipeSelected(recipeEl)" was previously inside of item tag -->
    </div>
</div>


